torch
torchvision
torchvision
sentence-transformers
wandb
tensorflow_hub
InstructorEmbedding
packaging
ninja
flash-attn
bitsandbytes
rank_bm25

# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip3 install sentence-transformers && pip install -e git+https://github.com/simonucl/TextAttack.git#egg=TextAttack \
#     && pip3 install torch-scatter -f https://data.pyg.org/whl/torch-2.1.0+cu118.html \
#     && pip3 install rank_bm25 \
#     && pip3 install bitsandbytes